@font-face {
    font-family: 'SonnyGothic-Regular';
    src: url('../fonts/SonnyGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SonnyGothic-Regular.otf')  format('opentype'),
         url('../fonts/SonnyGothic-Regular.woff') format('woff'),
         url('../fonts/SonnyGothic-Regular.ttf')  format('truetype'),
         url('../fonts/SonnyGothic-Regular.svg#SonnyGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SonnyGothic-Light';
    src: url('../fonts/SonnyGothic-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SonnyGothic-Light.otf')  format('opentype'),
         url('../fonts/SonnyGothic-Light.woff') format('woff'),
         url('../fonts/SonnyGothic-Light.ttf')  format('truetype'),
         url('../fonts/SonnyGothic-Light.svg#SonnyGothic-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SonnyGothic-Black';
    src: url('../fonts/SonnyGothic-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SonnyGothic-Black.otf')  format('opentype'),
         url('../fonts/SonnyGothic-Black.woff') format('woff'),
         url('../fonts/SonnyGothic-Black.ttf')  format('truetype'),
         url('../fonts/SonnyGothic-Black.svg#SonnyGothic-Black') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SonnyGothic-Bold';
    src: url('../fonts/SonnyGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SonnyGothic-Bold.otf')  format('opentype'),
         url('../fonts/SonnyGothic-Bold.woff') format('woff'),
         url('../fonts/SonnyGothic-Bold.ttf')  format('truetype'),
         url('../fonts/SonnyGothic-Bold.svg#SonnyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-ExtraBold.eot');
    src: url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff'),
    url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/Poppins-Black.eot');
    src: url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Black.woff2') format('woff2'),
    url('../fonts/Poppins-Black.woff') format('woff'),
    url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('../fonts/Poppins-Thin.eot');
    src: url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Thin.woff2') format('woff2'),
    url('../fonts/Poppins-Thin.woff') format('woff'),
    url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

//$light : 'SonnyGothic-Light';
//$regular : 'SonnyGothic-Regular';
//$bold : 'SonnyGothic-Bold';
//$black : 'SonnyGothic-Black';

$light : 'Poppins-Light';
$regular : 'Poppins-Regular';
$bold : 'Poppins-Bold';
$black : 'Poppins-Black';

$color1 : #ECA154;
$border: 1px solid rgba(171, 171, 171, 0.2);

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.disabled{
    display: none;
}

.sprites{
    background-image: url('../img/sprites.svg?v=3');
    background-repeat: no-repeat;
}

.sprites-hover{
    background-image: url('../img/sprites-hover.svg?v=3');
    background-repeat: no-repeat;
}

.mc-link{
    a{
        border: 1px solid #fff;
        color: #fff;
        font-family: $light;
        text-decoration: none;
        display: inline-block;
        padding: 10px 25px;
        position: relative;
        span{
            position: relative;
            z-index: 1;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #fff;
            width: 0;
            transition: 0.3s;
        }
        &:hover{
            color: #000;
            &:after{
                width: 100%;
            }
        }
    }
    &.white{
        a{
            color: #000;
            border-color: #000;
            &:hover{
                color: #fff;
                &:after{
                    background-color: #000;
                }
            }
        }
    }
    &.margin{
        margin-top: 25px;
    }
}
