@media(max-width: 1300px){
    .page{
        .top-head{
            .img{
                height: auto;
            }
            .texts{
                bottom: 30px;
            }
        }
    }
}

@media(max-width: 1280px){
    .header{
        .top-bar{
            padding: 22px 25px;
        }
    }
    .page{
        .top-head{
            .texts{
                padding-left: 25px;
            }
        }
        .sitearea{
            padding: 25px;
        }
    }
    .footer{
        .row{
            padding: 0 25px;
        }
        .copy{
            padding: 35px 25px;
        }
    }
    #page-contact{
        .top-head{
            .area{
                padding: 25px !important;
            }
        }
    }
    #page-services-security{
        .quote{
            padding: 30px !important;
        }
    }
}

@media(max-width: 1024px){
    body{
        overflow-y: auto !important;
    }
    .header{
        .top-bar{
            left: 0;
            height: 75px;
            right: 75px;
            padding: 22px 15px;
            .menus{
                transform: translateY(0%);
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: #161616;
                pointer-events: none;
                &.active{
                    pointer-events: auto;
                }
                ul{
                    margin-top: 75px;
                    display: block;
                    li{
                        display: block;
                        a{
                            padding: 10px 15px;
                            background: transparent !important;
                            &:after{
                                display: none;
                            }
                        }
                        ul{
                            margin-top: 0;
                            margin-bottom: 10px;
                            margin-left: 20px;
                            padding: 0;
                            display: none;
                            position: relative;
                            background: transparent;
                            opacity: 1 !important;
                            visibility: visible !important;
                            pointer-events: auto !important;
                        }
                        &:hover{
                            a{
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
            .logo{
                position: relative;
                z-index: 1;
                img{
                    width: 140px;
                }
            }
        }
        .left-bar{
            display: none;
        }
        .right-bar{
            bottom: auto;
            height: 75px;
            width: 75px;
            border-bottom: 1px solid rgba(171,171,171,0.2);
            .menu-bars{
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
            }
            .steps-nav,.lang{
                display: none;
            }
        }
        &.scroll{
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
            height: 75px;
        }
    }
    .mc-link{
        a{
            padding: 5px 20px;
            font-size: 15px;
        }
        &.margin{
            margin-top: 20px;
        }
    }
    .sidebar{
        display: none;
    }
    .modal{
        margin: auto;
        h1{
            font-size: 20px;
        }
    }
    .page{
        .sitearea{
            padding: 30px;
            width: 100%;
        }
        .top-head{
            .img {
                height: 225px;
                img,.coveredImg{
                    object-position: right center;
                    background-position: right center;
                }
            }
            .texts{
                left: 0;
                right: 0;
                bottom: 0;
                padding: 15px 30px;
                h1{
                    font-size: 20px !important;
                    margin-bottom: 5px;
                }
                .bread{
                    ul{
                        overflow-y: hidden;
                        overflow-x: auto;
                        white-space: nowrap;
                        li{
                            a{
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    #page-home{
        .steps{
            .step{
                height: auto;
                .contentarea{
                    padding: 20px 30px;
                    position: relative;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                }
            }
            #step1{
                .bg-slider{
                    .item{
                        .img{
                            height: 435px;
                        }
                        .texts{
                            left: 0;
                            padding: 0 30px;
                            right: 0;
                            bottom: 110px;
                            transform: inherit;
                            top: auto;
                            h2{
                                font-size: 21px;
                                margin-bottom: 5px;
                                line-height: 32px;
                            }
                            P{
                                font-size: 16px;
                                max-height: 50px;
                                width: 100%;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
                .bottom-slider-nav{
                    left: 0;
                    right: 0;
                    ul{
                        li{
                            height: 75px;
                            .centered{
                                .ico{
                                    transform: scale(0.5);
                                    max-width: 100%;
                                }
                                .title{
                                    display: none;
                                }
                            }
                        }
                    }
                    .news{
                        display: none;
                    }
                }
            }
            #step2{
                background: #fff !important;
                .contentarea{
                    z-index: 1;
                    color: black;
                    .texts{
                        position: relative;
                        top: auto;
                        transform: inherit;
                        max-width: 100%;
                        .title{
                            line-height: 11vw;
                            span,b{
                                font-size: 8vw;
                                text-shadow: none;
                            }
                        }
                        p{
                            font-size: 17px;
                            margin: 15px 0;
                            text-shadow: none;
                        }
                    }
                }
            }
            #step3{
                &:after{
                    content: '';
                    background: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .contentarea{
                    z-index: 1;
                    .texts{
                        position: relative;
                        top: auto;
                        transform: inherit;
                        max-width: 100%;
                        .title{
                            line-height: 11vw;
                            span,b{
                                font-size: 8vw;
                            }
                        }
                        p{
                            font-size: 17px;
                            margin: 15px 0;
                            margin-top: 5px;
                        }
                    }
                    .ik{
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        bottom: auto;
                        width: 100%;
                        border: 1px solid rgba(171,171,171,0.2);
                        border-bottom: 0;
                        .items{
                            position: relative;
                            top: auto;
                            transform: inherit;
                            left: auto;
                            right: auto;
                            .item{
                                height: auto;
                                line-height: normal;
                                .fixwidth{
                                    display: none;
                                    width: 70px;
                                    margin-left: 25px;
                                    margin-right: 25px;
                                    transform: scale(0.5);
                                }
                                .cls{
                                    display: none;
                                }
                                .t{
                                    display: block;
                                    padding: 20px;
                                    font-size: 17px;
                                }
                                a{
                                    display: block;
                                    position: relative;
                                    top: auto;
                                    left: auto;
                                    right: auto;
                                    bottom: auto;
                                }
                                &:first-child{
                                    border-top: 0;
                                }
                            }
                        }
                    }
                }
            }
            #step4{
                background: #fff !important;
                .contentarea{
                    z-index: 1;
                    color: black;
                    .texts{
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        transform: inherit;
                        .title{
                            h1{
                                font-size: 10vw;
                                text-shadow: none;
                            }
                        }
                        .box{
                            margin-top: 20px;
                            .img{
                                height: 170px;
                            }
                            h2{
                                font-size: 16px;
                                margin-top: 10px;
                            }
                        }
                        p{
                            font-size: 17px;
                            margin: 10px 0;
                            text-shadow: none;
                        }
                        .row{
                            max-width: inherit;
                        }
                    }
                }
            }
            #step5{
                display: none;
            }
            &:after{
                display: none;
            }
        }
    }
    #page-services{
        .sitearea {
            padding: 20px;
        }
        .box{
            margin-bottom: 20px;
            .img{
                height: 165px;
            }
            .texts{
                border: 0;
                padding: 20px 25px;
                height: auto;
                h2{
                    font-size: 25px;
                    margin-top: 0px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 14px;
                    max-height: 70px;
                    line-height: 23px;
                }
                a{
                    font-size: 15px;
                    margin-top: 15px;
                }
            }
        }
    }
    #page-services-detail{
        .sitearea{
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
    #page-services-security{
        .sitearea{
            h2{
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        .images{
            margin: 10px -10px;
            .item{
                padding: 5px;
                .img{
                    img{
                        margin: 0;
                    }
                }
            }
        }
        .tabmenu{
            width: 100%;
            margin-bottom: 0;
            ul{
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: auto;
            }
        }
        .boxer{
            margin-top: 20px;
            .box{
                .img{
                    height: 165px;
                }
            }
            .row{
                .col-lg-4,.col-lg-6,.col-lg-3{
                    &:last-child{
                        .box{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    #page-openpositions{
        .sitearea{
            padding: 25px 0;
            .title{
                font-size: 21px;
                margin-bottom: 15px;
                text-align: left;
                padding: 0 15px;
                line-height: 34px;
            }
        }
        .boxes{
            .box{
                padding: 15px;
                padding-top: 10px;
                ul{
                    margin: 0;
                    li{
                        font-size: 15px;
                        display: block;
                        padding: 0;
                        width: 100%;
                        a{
                            display: inline-block;
                            margin: 0;
                            margin-right: 5px;
                            padding: 5px 15px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        form{
            .form-group{
                width: 100%;
                padding: 0 15px;
            }
            .row{
                &:nth-of-type(1){
                    margin: 0;
                    .mc-row{
                        &:last-child{
                            .checkbox{
                                input{
                                    display: inline !important;
                                }
                                label{
                                    display: inline !important;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    .form-group{
                        text-align: center !important;
                        .g-recaptcha,button{
                            display: inline-block !important;
                        }
                    }
                }
            }
        }
    }
    #page-logos{
        .box{
            margin: 15px 0;
            h2{
                font-size: 17px;
                margin-top: 10px;
            }
            .img{
                height: 155px;
                padding: 15px;
                .text{
                    font-size: 15px;
                    line-height: 27px;
                }
            }
            &.file{
                margin: 10px 0;
                .img{
                    height: auto;
                }
            }
        }
    }
    #page-news{
        .toparea{
            margin-bottom: 20px;
            h2{
                float: none;
                width: 100%;
                padding: 15px 0;
            }
            .filtre{
                float: none;
                .f{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .box{
            margin-bottom: 25px;
            .img{
                height: 165px;
                margin-bottom: 15px;
            }
            h3{
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                max-height: 79px;
            }
        }
    }
    #page-news-detail{
        .sitearea{
            .details{
                width: calc(100% - 45px);
                .news-date{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                h2{
                    max-width: 100%;
                    font-size: 20px;
                }
            }
            .shares{
                top: 85px;
                width: 35px;
                b{
                    font-size: 8px;
                }
                ul{
                    margin: 5px 0;
                    li{
                        margin-bottom: 0;
                        a{
                            display: block;
                            i{
                                font-size: 10px;
                                line-height: 20px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    #page-contact{
        height: auto;
        background-color: #161616;
        #map{
            position: fixed !important;
            height: 100vh;
        }
        .top-head{
            padding: 0px;
            left: auto;
            right: auto;
            transition: inherit;
            .area{
                padding: 30px !important;
                .address{
                    p{
                        font-size: 17px;
                        margin-bottom: 10px;
                    }
                    .mc-link{
                        margin-top: 15px;
                    }
                }
                .bcktop{
                    margin-top: 25px;
                }
                form{
                    margin: 0;
                    margin-top: 15px;
                    top: auto;
                    .row{
                        &:nth-of-type(1){
                            margin: 0;
                            .mc-row{
                                &:last-child{
                                    .checkbox{
                                        input{
                                            display: inline !important;
                                        }
                                        label{
                                            display: inline !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        background-color: #fff;
        width: auto;
        padding-top: 20px;
        .title{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .social{
            margin-top: 15px;
            text-align: center;
        }
        .logo{
            display: none;
        }
        .address{
            display: none;
            text-align: center;
            font-size: 17px;
        }
        .row{
            padding: 0 15px;
            margin: 0;
        }
        .copy{
            margin-top: 15px;
            padding: 15px;
            ul{
                li{
                    text-align: center;
                    display: block;
                    margin: 0;
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                        float: none;
                        margin-top: 10px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .quote{
        width: 100%;
        .t{
            font-size: 20px;
            line-height: inherit;
            margin-bottom: 10px;
        }
        .d{
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        a{
            padding: 10px 20px;
            font-size: 16px;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1190px){
    .header .top-bar .menus ul li a{
        padding: 13px 6px;
        font-size: 13px;
    }
}
