@import "functions.scss";

#page-services-detail{
    .sitearea{
        @media(min-width: 1366px){
            padding: 40px 170px;
        }
        h2{
            font-family: $bold;
            font-size: 40px;
            color: #000;
            margin-bottom: 15px;
        }
        img{
            width: 100%;
            display: block;
            margin: 10px 0;
        }
    }
    .images{
        position: relative;
        margin: 20px -10px;
        .item{
            padding: 10px;
            .img{
                width: 100%;
                overflow: hidden;
                height: 150px;
                padding: 10px;
                border: $border;
                img,.coveredImg{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .owl-nav{
            text-align: center;
            margin-top: 10px;
            button{
                font-size: 15px;
                border: 1px solid #000;
                width: 40px;
                height: 40px;
                line-height: 40px;
                outline: none;
                transition: 0.2s;
                margin: 5px;
                display: inline-block;
                text-align: center;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .slide{
        position: relative;
        margin: 20px -10px;
        .item{
            padding: 10px;
            .img{
                width: 100%;
                overflow: hidden;
                padding: 10px;
                border: $border;
                img,.coveredImg{
                    margin: 0;
                    width: 100%;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .owl-nav{
            text-align: center;
            margin-top: 10px;
            button{
                font-size: 15px;
                border: 1px solid #000;
                width: 40px;
                height: 40px;
                line-height: 40px;
                outline: none;
                transition: 0.2s;
                margin: 5px;
                display: inline-block;
                text-align: center;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}