@import "functions.scss";

#page-services-security{
    .sitearea{
        @media(min-width: 1366px){
            padding: 40px 170px;
        }
        h2{
            font-family: $bold;
            font-size: 40px;
            color: #000;
            margin-bottom: 15px;
        }
        img{
            width: 100%;
            display: block;
            margin: 10px 0;
        }
    }
    .tabmenu{
        background: #FAFAFA;
        width: calc(100% - 94px - 94px);
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        ul{
            display: block;
            li{
                display: inline-block;
                a{
                    display: block;
                    padding: 20px;
                    color: #000;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                }
                &.active{
                    a{
                        border-color: $color1;
                    }
                }
            }
        }
    }
    .boxer{
        position: relative;
        margin-top: 50px;
        .box{
            position: relative;
            margin-bottom: 40px;
            .img{
                width: 100%;
                //height: 200px;
                overflow: hidden;
                margin-bottom: 15px;
                img,.coveredImg{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transition: 0.2s;
                }
            }
            h3{
                font-size: 20px;
                font-family: $bold;
                margin-bottom: 10px;
                transition: 0.2s;
                color: #000;
            }
            a{
                text-decoration: none;
                display: block;
                color: inherit;
            }
            p{
                margin-bottom: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                max-height: 55px;
            }
            span{
                display: block;
                font-family: $light;
                font-size: 18px;
                i{
                    display: inline-block;
                    vertical-align: sub;
                    width: 26px;
                    height: 20px;
                    margin-left: 10px;
                    background-position: -180px -50px;
                    transition: 0.2s;
                    @extend .sprites;
                }
            }
            &:hover{
                .img{
                    img,.coveredImg{
                        transform: scale(1.05);
                    }
                }
                h3{
                    color: $color1;
                }
                span{
                    i{
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
    .images{
        position: relative;
        margin: 20px -10px;
        .item{
            padding: 10px;
            .img{
                width: 100%;
                overflow: hidden;
                height: 150px;
                padding: 10px;
                border: $border;
                img,.coveredImg{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .owl-nav{
            text-align: center;
            margin-top: 10px;
            button{
                font-size: 15px;
                border: 1px solid #000;
                width: 40px;
                height: 40px;
                line-height: 40px;
                outline: none;
                transition: 0.2s;
                margin: 5px;
                display: inline-block;
                text-align: center;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .slide{
        position: relative;
        margin: 20px -10px;
        .item{
            padding: 10px;
            .img{
                width: 100%;
                overflow: hidden;
                padding: 10px;
                border: $border;
                img,.coveredImg{
                    margin: 0;
                    width: 100%;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .owl-nav{
            text-align: center;
            margin-top: 10px;
            button{
                font-size: 15px;
                border: 1px solid #000;
                width: 40px;
                height: 40px;
                line-height: 40px;
                outline: none;
                transition: 0.2s;
                margin: 5px;
                display: inline-block;
                text-align: center;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}