@import "functions.scss";

#page-governance{
    .sitearea{
        p{
            margin-bottom: 30px;
        }
    }
    .b{
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        .img{
            width: 100%;
            height: 300px;
            img,.coveredImg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .texts{
            margin-top: 10px;
            h2{
                font-size: 20px;
                color: #000;
                font-weight: bold;
                margin: 0;
                margin-bottom: 5px;
            }
            span{
                display: block;
                font-size: 15px;
                max-width: 200px;
                margin: 0 auto;
                font-weight: bold;
                color: $color1;
            }
        }
    }
}