@import "functions.scss";

body{
    background-color: #272121 !important;
}

#page-contact{
    width: 100%;
    height: 100vh;
    background-color: #272121;
    .top-head{
        position: absolute;
        top: 94px;
        transform: inherit;
        padding-top: 40px;
        z-index: 1;
        left: 94px;
        right: 94px;
        .texts{
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
            margin: 0;
        }
        .area{
            color: #fff;
            padding: 25px 60px;
            .address{
                .mc-link{
                    margin-top: 20px;
                }
                p{
                    font-size: 20px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        display: inline-block;
                    }
                }
            }
            .bcktop{
                margin-top: -100px;
            }
            form{
                position: relative;
                .form-group{
                    label{
                        display: none;
                    }
                    input,textarea,select,button{
                        font-size: 15px;
                    }
                }
                .row{
                    &:nth-of-type(1){
                        margin: 0 -15px !important;
                        .mc-row{
                            &:last-child{
                                label{
                                    display: none !important;
                                }
                                .checkbox{
                                    input{
                                        width: 15px;
                                        height: 15px;
                                        position: relative;
                                        top: 5px;
                                        margin-right: 5px;
                                    }
                                    label{
                                        display: inline-block !important;
                                        font-size: 10px;
                                        a{
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(2){
                        display: block;
                        .form-group{
                            float: none;
                            width: 100%;
                            display: block;
                            max-width: 100%;
                            &:last-child{
                                text-align: left !important;
                            }
                        }
                    }
                }
            }
        }
    }
    #map{
        opacity: 0.3;
        position: fixed !important;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .gm-control-active,.gm-svpc,.gmnoprint,.gm-style-cc{
            display: none;
        }
    }

}