@import "functions.scss";

#page-404{
    .top-head{
        .img{
            height: 210px;
        }
    }
    .sitearea{
        padding: 60px;
        text-align: center;
        .title{
            font-family: $bold;
            font-size: 200px;
            display: block;
            line-height: 150px;
            pointer-events: none;
            margin-bottom: 35px;
            span{
                display: inline;
                color: #bbb;
            }
        }
        .mc-link{
            margin-top: 30px;
        }
    }
}