@import "functions.scss";

body{
    font-family: $regular;
    overflow-x: hidden;
}

.header{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .top-bar{
        padding: 22px 60px;
        position: absolute;
        left: 94px;
        right: 94px;
        height: 94px;
        border-bottom: $border;
        transition: 0.2s;
        .logo{
            float: left;
        }
        .menus{
            transition: 0.5s;
            transform: translateY(calc(-100% - 25px));
            float: right;
            opacity: 0;
            &.active{
                transform: translateY(0%);
                opacity: 1;
            }
            ul{
                display: block;
                li{
                    display: inline-block;
                    position: relative;
                    a{
                        text-decoration: none;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 15px;
                        display: block;
                        padding: 13px 15px;
                        transition: 0.3s;
                        position: relative;
                        z-index: 1;
                        &:after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            background-color: #000;
                            transform: translateY(-100%);
                            height: 100px;
                            opacity: 0;
                            transition: 0.3s;
                            pointer-events: none;
                        }
                    }
                    ul{
                        left: 0;
                        min-width: 100%;
                        background-color: #000;
                        position: absolute;
                        padding: 5px 0;
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                        transition: 0.3s;
                        li{
                            display: block;
                            white-space: nowrap;
                            a{
                                padding: 10px 15px;
                                text-transform: none;
                                &:hover{
                                    background-color: #fff;
                                    color: #000;
                                }
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }
                    &:hover{
                        a{
                            background: #000;
                            opacity: 1 !important;
                            &:after{
                                opacity: 1;
                            }
                        }
                        ul{
                            opacity: 1;
                            pointer-events: auto;
                            visibility: visible;
                        }
                    }
                    &.active{
                        a{
                            background: #000;
                            opacity: 1 !important;
                            &:after{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.hovered{
                    a{
                        opacity: 0.5;
                    }
                }
            }
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #161616;
            transform: translateX(100%);
            width: 100vw;
            transition: 0.2s;
            opacity: 0;
            pointer-events: none;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #161616;
            transform: translateX(-100%);
            width: 100vw;
            transition: 0.2s;
            opacity: 0;
            pointer-events: none;
        }
    }
    .left-bar{
        width: 94px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        border-right: $border;
        .social{
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            transform: translateY(-50%);
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                display: inline-block;
                color: #fff;
                font-size: 18px;
                width: 30px;
                height: 30px;
                margin-bottom: 5px;
                line-height: 30px;
                transition: 0.2s;
                &:hover{
                    background-color: #000;
                }
            }
        }
        .title-canvas{
            position: absolute;
            top: 0;
            transition: 0.5s;
            right: -2px;
            width: 3px;
            height: 58px;
            background-color: $color1;
        }
    }
    .right-bar{
        width: 94px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        border-left: $border;
        .menu-bars{
            user-select: none;
            position: relative;
            width: 30px;
            margin: calc(94px/2 - 10px) auto;
            height: 20px;
            cursor: pointer;
            i{
                float: right;
                transition: width 0.2s;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                margin-bottom: 7px;
                &:nth-child(1){
                    width: 80%;
                }
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 65%;
                    margin-bottom: 0;
                }
            }
            &:after{
                content: '';
                clear: both;
                display: block;
            }
            &:hover{
                i{
                    width: 100% !important;
                }
            }
            &.active{
                i{
                    width: 100%;
                    margin: 0;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    &:nth-child(1){
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &:nth-child(2){
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                    &:last-child{
                        opacity: 0;
                    }
                }
            }
        }
        .lang{
            transition: 0.2s;
            text-align: center;
            display: block;
            img{
                width: 28px;
                display: inline-block;
            }
        }
        .steps-nav{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            i{
                display: none;
                cursor: pointer;
                margin: 0 auto;
                @extend .sprites;
                width: 39px;
                height: 20px;
                margin-bottom: 35px;
                transition: 0.2s;
                opacity: 0;
                pointer-events: none;
                &.top{
                    background-position: -19px -30px;
                }
                &.bottom{
                    background-position: -19px -68px;
                }
                &.active{
                    display: block;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
    &:after{
        content: '';
        box-shadow: inset 0 40px 56px 25px rgba(0, 0, 0, 0.7411764705882353);
        position: absolute;
        top: 0;
        left: -100px;
        right: -100px;
        height: 100vh;
        pointer-events: none;
        user-select: none;
        z-index: -1;
    }
    &.scroll{
        .right-bar{
            .lang{
                opacity: 0;
                pointer-events: none;
            }
        }
        .top-bar{
            border-bottom: 0;
            background-color: #161616;
            &:after{
                opacity: 1;
            }
            &:before{
                opacity: 1;
            }
        }
        &:after{
            display: none;
        }
    }
}

.page{
    position: relative;
    .top-head{
        position: relative;
        .img{
            width: 100%;
            height: 450px;
            img,.coveredImg{
                pointer-events: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.2);
                pointer-events: none;
            }
        }
        .texts{
            position: absolute;
            bottom: 100px;
            left: 94px;
            right: 140px;
            padding-left: 60px;
            h1{
                font-family: $bold;
                font-size: 50px;
                color: #fff;
                margin-bottom: 15px;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
            }
            .bread{
                ul{
                    li{
                        display: inline-block;
                        margin-right: 20px;
                        position: relative;
                        a{
                            font-size: 15px;
                            color: #fff;
                            transition: 0.2s;
                            text-decoration: none;
                            text-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
                            &:hover{
                                color: $color1;
                            }
                        }
                        &:after{
                            content: '';
                            @extend .sprites;
                            background-position: -112px -48px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -23px;
                            width: 20px;
                            height: 20px;
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .sitearea{
        width: calc(100% - 94px - 94px);
        margin: 0 auto;
        padding: 40px 60px;
        line-height: 27px;
        color: #414141;
        ul{
            list-style: disc;
            margin: 10px 0;
            padding-left: 20px;
        }
        h1,h2,h3,h4,h5{
            font-family: $bold;
            margin-top: 35px;
            display: block;
            font-size: 23px;
            &.cicon{
                &:after{
                    user-select: none;
                    content: '';
                    background-image: url('/assets/img/insan-odakli.svg');
                    float: left;
                    display: block;
                    width: 100px;
                    height: 100px;
                    border-radius: 500px;
                    margin-right: 25px;
                    background-position: center center;
                    transition: 0.3s;
                    background-size: 56px;
                    background-repeat: no-repeat;
                }
            }
            &:hover{
                &.cicon{
                    &:after{
                        background-color: #ECA154;
                    }
                }
            }
            &.insan-odakli{
                &:after{
                    background-image: url('/assets/img/holding-icon/insan-odakli.svg');
                }
                &:hover{
                    &:after{
                        background-image: url('/assets/img/holding-icon/insan-odakli-hover.svg');
                    }
                }
            }
            &.dunya-standartlarinda{
                &:after{
                    background-image: url('/assets/img/holding-icon/dunya.svg');
                }
                &:hover{
                    &:after{
                        background-image: url('/assets/img/holding-icon/dunya-hover.svg');
                    }
                }
            }
            &.dinamizm{
                &:after{
                    background-image: url('/assets/img/holding-icon/dinamizm.svg');
                }
                &:hover{
                    &:after{
                        background-image: url('/assets/img/holding-icon/dinamizm-hover.svg');
                    }
                }
            }
            &.girisimcilik{
                &:after{
                    background-image: url('/assets/img/holding-icon/girisimcilik.svg');
                }
                &:hover{
                    &:after{
                        background-image: url('/assets/img/holding-icon/girisimcilik-hover.svg');
                    }
                }
            }
            &.sorumluluk{
                &:after{
                    background-image: url('/assets/img/holding-icon/sorumluluk.svg');
                }
                &:hover{
                    &:after{
                        background-image: url('/assets/img/holding-icon/sorumluluk-hover.svg');
                    }
                }
            }
        }
        p{
            a{
                text-decoration: none;
                color: inherit;
                transition: 0.2s;
                &:hover{
                    color: $color1;
                }
            }
        }
    }
}

.form-message{
    float: left;
    width: 100%;
}

form{
    .form-group{
        input[type=text],input[type=phone],input[type=email],input[type=file],select,textarea{
            width: 100%;
            display: block;
            border-radius: 0px;
            background: transparent;
            border: 1px solid #fff;
            height: 50px;
            padding: 0 15px;
            box-shadow: none;
            outline: none !important;
            font-size: 18px;
            font-family: $light;
            color: #fff;
            resize: none;
            &::placeholder{
                color: #fff;
            }
        }
        .iti{
            width: 100%;
            .iti__country-list{
                color: #000;
            }
        }
        textarea{
            padding-top: 10px;
            height: 75px;
        }
        .ahov-error{
            font-size: 11px;
            margin-top: 4px;
        }
    }
    button{
        position: relative;
        border: 1px solid #fff !important;
        height: 50px;
        outline: none !important;
        box-shadow: none !important;
        color: #fff !important;
        font-size: 18px !important;
        background: transparent !important;
        font-family: $light;
        border-radius: 0px;
        width: 130px;
        transition: 0.2s !important;
        &:hover{
            color: #000;
            background-color: #fff;
        }
    }
}

.footer{
    position: relative;
    margin: 0 auto;
    border-top: 1px solid #E6E6E6;
    padding-top: 40px;
    width: calc(100% - 94px - 94px);
    .row{
        padding: 0 60px;
    }
    .logo{
        margin-bottom: 30px;
        text-align: right;
        img{
            display: inline-block;
        }
    }
    .address{
        font-size: 20px;
        text-align: right;
        p{
            margin-bottom: 5px;
            a{
                text-decoration: none;
                color: inherit;
                transition: 0.2s;
                &:hover{
                    color: $color1;
                }
            }
        }
    }
    .title{
        font-size: 25px;
        font-family: $bold;
        margin-bottom: 20px;
    }
    .social{
        margin-top: 15px;
        ul{
            li{
                display: inline-block;
                a{
                    color: #000;
                    padding-right: 25px;
                }
            }
        }
    }
    form{
        .form-group{
            float: left;
            margin-bottom: 0;
            input,button{
                border-color: #000 !important;
                color: #000 !important;
            }
            button{
                border-left: 0 !important;
                &:hover{
                    background-color: #000 !important;
                    color: #fff !important;
                }
            }
            &:nth-of-type(1){
                width: calc(100% - 130px);
            }
        }
        &:after{
            clear: both;
            content: '';
            display: block;
        }
    }
    .copy{
        border-top: 1px solid #E6E6E6;
        margin-top: 30px;
        padding: 35px 60px;
        ul{
            li{
                color: #000;
                font-family: $light;
                font-size: 12px;
                margin-right: 25px;
                display: inline-block;
                a{
                    text-decoration: none;
                    transition: 0.2s;
                    color: inherit;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                &:last-child{
                    float: right;
                    margin-right: 0;
                }
            }
        }
    }
}

.quote{
    width: calc(100% - 94px - 94px);
    margin: 20px auto;
    background-color: #F8F8F8;
    padding: 60px;
    .t{
        font-family: $bold;
        font-size: 40px;
        color: #000;
        margin-bottom: 20px;
        line-height: 56px;
    }
    .d{
        font-size: 20px;
        margin-bottom: 20px;
    }
    a{
        background-color: $color1;
        display: inline-block;
        padding: 10px 30px;
        color: #fff;
        font-family: $light;
        font-size: 18px;
        text-decoration: none;
        transition: 0.2s;
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
}

.sidebar{
    position: sticky;
    top: 110px;
    background-color: $color1;
    padding:5px 15px;
    ul{
        list-style: none;
        padding: 0;
        li{
            display: block;
            a{
                position: relative;
                display: inline-block;
                color: #fff;
                opacity: 0.7;
                transition: 0.2s;
                padding: 5px 0;
                text-decoration: none;
                &:after{
                    content: '';
                    position: absolute;
                    top: 5px;
                    bottom: 5px;
                    left: -15px;
                    width: 1px;
                    background-color: #fff;
                    transition: 0.2s;
                    opacity: 0;
                    pointer-events: none;
                }
            }
            &.active,&:hover{
                a{
                    opacity: 1;
                    color: #fff;
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.modal{
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 50px 0;
    .fancybox-close-small{
        background-color: $color1;
        svg{
            filter: brightness(0) invert(1);
        }
    }
    h1{
        text-align: center;
        margin-bottom: 10px;
        font-family: $bold;
        color: #000;
    }
    p{
        line-height: 30px;
    }
}

.cc_container{
    background-color: #161616;
    .cc_btn,.cc_btn{
        background-color: $color1 !important;
        height: 26px;
        line-height: 10px !important;
        font-size: 12px !important;
    }
    .cc_message{
        font-size: 16px !important;
        line-height: 26px !important;
        margin: 0 !important;
        a{
            color: $color1 !important;
            display: inline;
        }
    }
}

.ahoselector{
    position: relative;
    span{
        display: block;
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        padding-right: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        user-select: none;
        cursor: pointer;
        border: 1px solid #707070;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            transition: 0.2s;
            background-image: url('/assets/img/angle-down-dark.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 12px;
        }
    }
    .items{
        display: none;
        border: 1px solid #707070;
        position: absolute;
        bottom: 1px;
        transform: translateY(100%);
        left: 0;
        right: 0;
        overflow: hidden;
        background: #fff;
        z-index: 10;
        max-height: 210px;
        overflow: auto;
        &::-webkit-scrollbar-track {
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #D1D1D1;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #D1D1D1;
        }
        input[type=text]{
            width: 100%;
            display: block;
            outline: none;
            padding: 0 15px;
            font-size: 14px;
            height: 40px;
            font-weight: 300;
            border: 0px;
            border-bottom: 1px solid #f2f2f2;
        }
        .item{
            cursor: pointer;
            transition: 0.2s;
            padding: 10px 15px;
            padding-right: 50px;
            border-bottom: 1px solid #f2f2f2;
            font-size: 14px;
            user-select: none;
            &.active{
                position: relative;
                &:after{
                    content: '';
                    background-image: url('/assets/img/check.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                    width: 20px;
                    height: 16px;
                }
            }
            &[disabled]{
                background-color: #f2f2f2;
                color: #cecece;
            }
            &:hover{
                background-color: #f2f2f2;
            }
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
    &.active{
        span{
            &:after{
                transform: translateY(-50%) rotate(-180deg);
            }
        }
        .items{
            display: block;
        }
    }
}