@import "functions.scss";

#page-logos{
   .box{
        position: relative;
        margin: 20px 0;
        .img{
            width: 100%;
            height: 250px;
            position: relative;
            box-shadow: 0 0 10px rgba(0,0,0,0.10);
            padding: 20px;
            overflow: hidden;
            .text{
                font-family: $bold;
                font-size: 25px;
                color: #000;
                line-height: 35px;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                max-height: 174px;
            }
            img,.coveredImg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-size: contain;
                background-repeat: no-repeat;
                pointer-events: none;
            }
            .bottom-bar{
                    transition: 0.2s;
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    a{
                        background-color: #fff;
                        width: 40px;
                        height: 40px;
                        margin: 10px;
                        float: left;
                        margin-left: 0px;
                        position: relative;
                        i{
                            @extend .sprites;
                            background-position: -229px -51px;
                            width: 32px;
                            height: 17px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &:last-child{
                            i{
                                background-position: -279px -51px;
                            }
                        }
                    }
            }
        }
        h2{
            font-family: $bold;
            font-size: 20px;
            margin-top: 15px;
            transition: 0.2s;
            margin-bottom: 0;
        }
        &.file{
            .img{
                box-shadow: none;
                background-color: #FAFAFA;
            }
        }
        &:hover{
            .img{
                .bottom-bar{
                    opacity: 1;
                }
            }
            h2{
                color: $color1;
            }
        }
    }
}