@import "functions.scss";

#page-openpositions{
    .sitearea{
        padding: 40px 0;
        .title{
            font-size: 35px;
            font-family: $bold;
            margin-bottom: 30px;
            color: #000;
            text-align: center;
        }
    }
    .boxes{
        margin-bottom: 60px;
        .box{
            text-align: center;
            border-bottom: 1px solid #E6E6E6;
            ul{
                list-style: none;
                padding: 0;
                margin: 15px 0;
                li{
                    font-size: 17px;
                    display: inline-block;
                    padding: 0 20px;
                    text-align: left;
                    width: 250px;
                    vertical-align: top;
                    b{
                        color: #000;
                    }
                    span{
                        color: #7A7A7A;
                    }
                    a{
                        display: inline;
                        background-color: $color1;
                        padding: 10px 15px;
                        color: #fff;
                        font-family: $light;
                        margin: 0 5px;
                        text-decoration: none;
                        transition: 0.2s;
                        font-size: 12px;
                        &:hover{
                            background: darken($color1, 40%);
                        }
                        &:last-child{
                            background-color: #000;
                        }
                    }
                }
            }
            &:first-child{
                border-top: 1px solid #E6E6E6;
            }
        }
    }
    form{
        max-width: 750px;
        margin: 20px auto;
        .form-group{
            float: left;
            width: 50%;
            padding: 0 10px;
            .iti{
                width: 100%;
                height: 50px;
                input{
                    border-radius: 0;
                    height: 50px;
                }
                ul{
                    list-style: none;
                    padding: 0;
                }
            }
            label{
                margin-bottom: 5px;
                font-size: 15px;
            }
            input,select,textarea{
                color: #000;
                border-color: #000;
                font-size: 17px;
                &::placeholder{
                    color: #000;
                }
                &[type=file]{
                    padding-top: 8px;
                    padding-left: 8px;
                }
            }
            button{
                color: #000 !important;
                border-color: #000 !important;
                &:hover{
                    background-color: #000 !important;
                    color: #fff !important;
                }
            }
            &:nth-last-child(2){
                width: 100%;
            }
            &:last-child{
                width: 100%;
            }
        }
        .row{
            &:nth-of-type(1){
                .mc-row{
                    &:last-child{
                        label{
                            display: none !important;
                        }
                        .checkbox{
                            input{
                                width: 20px;
                                height: 20px;
                                position: relative;
                                top: 6px;
                                margin-right: 5px;
                            }
                            label{
                                display: inline-block !important;
                                a{
                                    color: #000;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2){
                margin: 5px 0;
            }
        }
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
}