@import "functions.scss";

#page-news-detail{
    .top-head{
        .texts{
            h1{
                font-size: 30px;
            }
        }
    }
    .sitearea{
        @media(min-width: 1366px){
            padding: 40px 170px;
        }
        .details{
            width: calc(100% - 100px - 320px);
            float: left;
            .news-date{
                color: #C2C2C2;
                font-size: 20px;
                margin-bottom: 20px;
            }
            h2{
                font-family: $bold;
                max-width: 686px;
                font-size: 40px;
                color: #000;
            }
            img{
                width: 100%;
                max-width: 100%;
                margin: 10px 0;
            }
            p{
                margin: 10px 0;
            }
            .mc-link{
                margin-top: 20px;
            }
        }
        .sidebar{
            float: right;
            width: 300px;
            margin-left: 20px;
            .title{
                color: #fff;
                font-family: $bold;
                font-size: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.24);
                padding: 10px 20px;
            }
        }
        .shares{
            position: sticky;
            top: 110px;
            text-align: center;
            float: right;
            width: 84px;
            b{
                color: #000;
                font-family: $bold;
                font-size: 18px;
                margin-bottom: 15px;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    display: block;
                    margin-bottom: 10px;
                    a{
                        i{
                            color: #fff;
                            border-radius: 500px;
                            background-color: $color1;
                            font-size: 20px;
                            line-height: 40px;
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            transition: 0.2s;
                            &.fa-facebook-f{
                                background-color: #3955A0;
                            }
                            &.fa-twitter{
                                background-color: #2EAAE0;
                            }
                            &.fa-whatsapp{
                                background-color: #00e676;
                            }
                            &.fa-pinterest-p{
                                background-color: #DC0C15;
                            }
                        }
                        &:hover{
                            i{
                                background-color: #000;
                                box-shadow: 0 0 20px rgba(0,0,0,0.15);
                            }
                        }
                    }
                }
            }
        }
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
}