@import "functions.scss";

#page-news{
    .toparea{
        margin-bottom: 30px;
        h2{
            font-family: $bold;
            font-size: 20px;
            color: #000;
            float: left;
            margin-bottom: 0;
            padding-top: 10px;
        }
        .filtre{
            float: right;
            .f{
                width: 170px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
    .box{
        position: relative;
        color: #000;
        margin-bottom: 30px;
        a{
            display: block;
            color: inherit;
            text-decoration: none;
        }
        .img{
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 230px;
            margin-bottom: 20px;
            img,.coveredImg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
                transition: 0.2s;
            }
            .news-date{
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $color1;
                padding: 5px 10px;
                color: #fff;
                font-size: 20px;
                line-height: 24px;
                b,span{
                    font-weight: normal;
                    text-align: center;
                    display: block;
                }
            }
        }
        h3{
            font-family: $bold;
            font-size: 20px;
            margin-bottom: 15px;
            transition: 0.2s;
        }
        p{
            font-size: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            max-height: 80px;
        }
        &:hover{
            .img{
                img{
                    transform: scale(1.05);
                }
            }
            h3{
                color: $color1;
            }
        }
    }
}