@import "functions.scss";

#page-services{
    .sitearea{
        padding: 60px;
    }
    .box{
        position: relative;
        margin-bottom: 50px;
        .row{
            margin: 0;
            .col-lg-6{
                padding: 0;
            }
        }
        .img{
            width: 100%;
            height: 340px;
            img,.coveredImg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .texts{
            background-color: #FAFAFA;
            border-right: 2px solid $color1;
            height: 340px;
            padding: 50px;
            color: #000;
            h2{
                font-family: $bold;
                font-size: 40px;
                margin-bottom: 20px;
                transition: 0.2s;
            }
            p{
                margin-bottom: 0;
                font-size: 20px;
                line-height: 29px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                max-height: 86px;
            }
            a{
                font-family: $light;
                font-size: 18px;
                color: #000;
                text-decoration: none;
                display: inline-block;
                margin-top: 25px;
                i{
                    display: inline-block;
                    vertical-align: sub;
                    width: 26px;
                    height: 20px;
                    margin-left: 10px;
                    background-position: -180px -50px;
                    @extend .sprites;
                    transition: 0.2s;
                }
            }
        }
        &:hover{
            .texts{
                h2{
                    color: $color1;
                }
                a{
                    i{
                        transform: translateX(5px);
                    }
                }
            }
            
        }
        .order-lg-first,.order-first,.order-md-first{
            .texts{
                border-right: 0;
                border-left: 2px solid $color1;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}