@import "functions.scss";

#page-home{
    .steps{
        .step{
            position: relative;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            .contentarea{
                padding: 60px;
                position: absolute;
                top: 94px;
                left: 94px;
                right: 94px;
                bottom: 0;
                color: #fff;
                z-index: 1;
            }
        }
        #step1{
            .bg-slider{
                position: relative;
                background-color: #161616;
                .item{
                    position: relative;
                    .img{
                        position: relative;
                        width: 100%;
                        height: 100vh;
                        img,.coveredImg{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        /*&:after{
                            content: '';
                            background: rgba(0, 0, 0, 0.22);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }*/
                    }
                    .texts{
                        padding: 0 60px;
                        left: 94px;
                        right: 94px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #fff;
                        z-index: 1;
                        h2{
                            font-family: $bold;
                            margin: 0;
                            font-size: 35px;
                            margin-bottom: 10px;
                            max-width: 580px;
                            line-height: 50px;
                            text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
                        }
                        p{
                            margin: 0;
                            font-size: 20px;
                            font-family: $light;
                            margin-bottom: 34px;
                            max-width: 570px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            max-height: 58px;
                            font-weight: bold;
                            letter-spacing: 0.1px;
                            text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
                        }
                    }
                }
            }
            .bottom-slider-nav{
                position: absolute;
                bottom: 0;
                left: 94px;
                right: 94px;
                z-index: 1;
                color: #fff;
                border-top: $border;
                ul{
                    li{
                        height: 150px;
                        position: relative;
                        display: block;
                        float: left;
                        width: 20%;
                        text-align: center;
                        border-right: $border;
                        cursor: pointer;
                        .bar{
                            pointer-events: none;
                            position: absolute;
                            bottom: 4px;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 0%;
                            opacity: 0.2;
                            transition: 1s;
                            &:after{
                                content: '';
                                height: 4px;
                                background-color: $color1;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                        .centered{
                            transition: 0.3s;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            right: 0;
                            opacity: 0.9;
                            .title{
                                margin-top: 20px;
                            }
                            .ico{
                                width: 100px;
                                height: 50px;
                                margin: 0 auto;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                        }
                        &:last-child{
                            border-right: 0;
                        }
                        &:nth-child(1){
                            .bar{
                                &:after{
                                    background-color: #EF3D42;//anasayfa
                                }
                            }
                            .centered{
                                .ico{
                                    background-image: url('/assets/img/new-logos/candemirholding.svg');
                                }
                            }
                            &:hover{
                                .centered{
                                    .ico{
                                        background-image: url('/assets/img/new-logos/candemirholding-hover.svg');
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            .bar{
                                &:after{
                                    background-color: $color1;//guvenlik
                                }
                            }
                            .centered{
                                .ico{
                                    background-image: url('/assets/img/new-logos/guvenlik.svg');
                                }
                            }
                            &:hover{
                                .centered{
                                    .ico{
                                        background-image: url('/assets/img/new-logos/guvenlik-hover.svg');
                                    }
                                }
                            }
                        }
                        &:nth-child(3){
                            .bar{
                                &:after{
                                    background-color: #CB34D5;//entegre
                                }
                            }
                            .centered{
                                .ico{
                                    background-image: url('/assets/img/new-logos/entegre.svg');
                                }
                            }
                            &:hover{
                                .centered{
                                    .ico{
                                        background-image: url('/assets/img/new-logos/entegre-hover.svg');
                                    }
                                }
                            }
                        }
                        &:nth-child(4){
                            .bar{
                                &:after{
                                    background-color: #00A0DF;//temizlik
                                }
                            }
                            .centered{
                                .ico{
                                    background-image: url('/assets/img/new-logos/temizlik.svg');
                                }
                            }
                            &:hover{
                                .centered{
                                    .ico{
                                        background-image: url('/assets/img/new-logos/temizlik-hover.svg');
                                    }
                                }
                            }
                        }
                        &:nth-child(5){
                            .bar{
                                &:after{
                                    background-color: #3BB983;//teknoloji
                                }
                            }
                            .centered{
                                .ico{
                                    background-image: url('/assets/img/new-logos/teknoloji.svg');
                                }
                            }
                            &:hover{
                                .centered{
                                    .ico{
                                        background-image: url('/assets/img/new-logos/teknoloji-hover.svg');
                                    }
                                }
                            }
                        }
                        &:hover{
                            .bar,.centered{
                                opacity: 0.9;
                            }
                        }
                        &.active{
                            .centered{
                                opacity: 1;
                            }
                            .bar{
                                opacity: 1;
                                height: 100%;
                                bottom: 0;
                            }
                        }
                    }
                }
                .news{
                    position: absolute;
                    top: -1px;
                    transform: translateY(-100%);
                    right: 0;
                    border-top: $border;
                    border-left: $border;
                    padding: 25px;
                    padding-left: 55px;
                    font-size: 18px;
                    font-family: $light;
                    width: 466px;
                    background: rgba(0, 0, 0, 0.15);
                    .item{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        max-height: 54px;
                        a{
                            display: block;
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                    .owl-nav{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) translateX(-100%);
                        left: -15px;
                        button{
                            display: block;
                            outline: none;
                            i{
                                @extend .sprites;
                                width: 14px;
                                height: 14px;
                                display: block;
                                &.mc-prev{
                                    background-position: -81px -46px;
                                }
                                &.mc-next{
                                    background-position: -81px -63px;
                                }
                            }
                        }
                    }
                }
            }
            &:after{
                display: none;
            }
        }
        #step2{
            background-image: url('../img/step-2.jpg');
            .contentarea{
                .texts{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: 700px;
                    .title{
                        line-height: 60px;
                        span{
                            display: block;
                            font-size: 50px;
                            font-family: $light;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                        b{
                            display: block;
                            font-size: 50px;
                            font-family: $bold;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                    }
                    p{
                        margin: 25px 0;
                        font-family: $light;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 0.1px;
                        text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
                    }
                }
            }
        }
        #step3{
            background-image: url('../img/step-3.jpg');
            .contentarea{
                .texts{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    max-width: calc(100% - 520px - 100px);
                    .title{
                        line-height: 60px;
                        span{
                            display: block;
                            font-size: 50px;
                            font-family: $light;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                        b{
                            display: block;
                            font-size: 50px;
                            font-family: $bold;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                    }
                    p{
                        margin: 25px 0;
                        font-family: $light;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 0.1px;
                        text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
                    }
                }
                .ik{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border-left: $border;
                    width: 520px;
                    .items{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        .item{
                            position: relative;
                            border-top: $border;
                            overflow: hidden;
                            height: 120px;
                            line-height: 120px;
                            a{
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                display: block;
                                text-decoration: none;
                                color: #fff;
                            }
                            .t{
                                font-size: 19px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .cls{
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                background-color: rgba(0,0,0,0.22);
                                transform: translateX(-100%);
                                width: 60px;
                                transition: 0.3s;
                                i{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    @extend .sprites;
                                    width: 11px;
                                    height: 25px;
                                    background-position: -148px -48px;
                                }
                            }
                            .fixwidth{
                                display: inline-block;
                                width: 74px;
                                vertical-align: middle;
                                margin-left: 50px;
                                margin-right: 25px;
                                text-align: center;
                                transition: 0.3s;
                            }
                            .ico{
                                @extend .sprites;
                                display: inline-block;
                                width: 40px;
                                height: 49px;
                                background-position: -198px -197px;
                                vertical-align: middle;
                            }
                            &:hover{
                                .cls{
                                    transform: translateX(0%);
                                }
                                .fixwidth{
                                    margin-left: 100px;
                                }
                            }
                            &:last-child{
                                border-bottom: $border;
                            }
                            &:nth-child(2){
                                .ico{
                                    height: 60px;
                                    background-position: -18px -113px;
                                    width: 67px;
                                }
                            }
                            &:nth-child(3){
                                .ico{
                                    height: 60px;
                                    background-position: -189px -113px;
                                    width: 67px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #step4{
            background-image: url('../img/step-4.jpg');
            .contentarea{
                .texts{
                    position: absolute;
                    top: 50%;
                    left: 60px;
                    right: 60px;
                    transform: translateY(-50%);
                    .title{
                        line-height: 60px;
                        max-width: 700px;
                        span{
                            display: block;
                            font-size: 50px;
                            font-family: $light;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                        h1{
                            display: block;
                            font-size: 50px;
                            font-family: $bold;
                            text-shadow: 0px 0 20px rgba(0, 0, 0, 0.34);
                        }
                    }
                    p{
                        margin: 15px 0;
                        margin-bottom: 20px;
                        font-family: $light;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 0.1px;
                        text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
                    }
                    .row{
                        max-width: 70vw;
                    }
                    .box{
                        margin-top: 40px;
                        position: relative;
                        a{
                            color: inherit;
                            display: block;
                            text-decoration: none;
                        }
                        .img{
                            position: relative;
                            width: 100%;
                            height: 200px;
                            img,.coveredImg{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                            .news-date{
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                background-color: $color1;
                                color: #fff;
                                text-align: center;
                                line-height: 24px;
                                padding: 5px 15px;
                                b,span{
                                    font-size: 20px;
                                    font-family: $bold;
                                    display: block;
                                }
                            }
                        }
                        h2{
                            font-size: 18px;
                            font-family: $light;
                            margin: 0;
                            margin-top: 15px;
                            line-height: 22px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            max-height: 50px;
                        }
                    }
                }
            }
        }
        #step5{
            background-color: #272121;
            #map{
                width: 100%;
                opacity: 0.3;
                height: 100%;
                pointer-events: none;
                .gm-control-active,.gm-svpc,.gmnoprint,.gm-style-cc{
                    display: none;
                }
            }
            .foot{
                z-index: 1;
                color: #fff;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 94px;
                right: 94px;
                padding: 0 60px;
                .address{
                    .mc-link{
                        margin-top: 20px;
                    }
                    p{
                        font-size: 20px;
                        a{
                            text-decoration: none;
                            color: #fff;
                            display: inline-block;
                        }
                    }
                }
                .title{
                    font-size: 25px;
                    font-family: $bold;
                    margin-bottom: 20px;
                }
                .social{
                    margin-top: 30px;
                    ul{
                        li{
                            display: inline-block;
                            a{
                                color: #fff;
                                padding-right: 25px;
                            }
                        }
                    }
                }
                form{
                    .form-group{
                        float: left;
                        margin-bottom: 0;
                        &:first-child{
                            width: calc(100% - 130px);
                        }
                    }
                    &:after{
                        clear: both;
                        content: '';
                        display: block;
                    }
                }
            }
            .copy{
                z-index: 1;
                position: absolute;
                bottom: 30px;
                left: 94px;
                right: 94px;
                padding: 0 60px;
                ul{
                    li{
                        color: #fff;
                        font-family: $light;
                        font-size: 12px;
                        margin-right: 25px;
                        display: inline-block;
                        a{
                            text-decoration: none;
                            transition: 0.2s;
                            color: inherit;
                            &:hover{
                                opacity: 0.5;
                            }
                        }
                        &:last-child{
                            float: right;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        /*&:after{
            content: '';
            background-color: rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }*/
    }
}